<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Building Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Building Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="map">Map</a>
            </li>
        </ul>
    </div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</nav>

<div id="mapid" style="width: 100%; height: 750px;"></div>

<!--<script th:src="@{'./building_1.js'}"></script>-->
<script th:src="@{'./_2.js'}"></script>
<script th:src="@{'./qgis2web_expressions.js'}"></script>
<script th:src="@{'./leaflet.js'}"></script>
<script th:src="@{'./leaflet.rotatedMarker.js'}"></script>
<script th:src="@{'./leaflet.pattern.js'}"></script>
<script th:src="@{'./leaflet-hash.js'}"></script>
<script th:src="@{'./Autolinker.min.js'}"></script>
<script th:src="@{'./rbush.min.js'}"></script>
<script th:src="@{'./labelgun.min.js'}"></script>
<script th:src="@{'./labels.js'}"></script>
<script th:src="@{'./leaflet-measure.js'}"></script>

<script th:inline="javascript">

    let json_building_1 = /*[[${buildJson.getJson_buildings()}]]*/{};

    var mymap = L.map('mapid', {
        zoomControl: true, maxZoom: 19, minZoom: 9
    });
    var hash = new L.Hash(mymap);
    mymap.attributionControl.setPrefix('<a href="https://github.com/tomchadwin/qgis2web" target="_blank">qgis2web</a> &middot; <a href="https://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> &middot; <a href="https://qgis.org">QGIS</a>');
    var autolinker = new Autolinker({truncate: {length: 30, location: 'smart'}});
    var bounds_group = new L.featureGroup([]);

    function setBounds() {
        if (bounds_group.getLayers().length) {
            mymap.fitBounds(bounds_group.getBounds());
        }
    }

    mymap.createPane('pane_OSMStandard_0');
    mymap.getPane('pane_OSMStandard_0').style.zIndex = 400;
    var layer_OSMStandard_0 = L.tileLayer('http://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        pane: 'pane_OSMStandard_0',
        opacity: 1.0,
        attribution: '<a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors, CC-BY-SA</a>',
        minZoom: 9,
        maxZoom: 19,
        minNativeZoom: 0,
        maxNativeZoom: 19
    });
    layer_OSMStandard_0;
    mymap.addLayer(layer_OSMStandard_0);

    function pop_building_1(feature, layer) {
        var popupContent = '<form method="post" action="/changeStatusYes">\
                                <input type="hidden" name="id" value="' + (feature.properties['full_id'] !== null ? autolinker.link(feature.properties['full_id'].toLocaleString()) : '') + '">\
                                <button type="submit">Yes</button>\
                            </form>\
                            \<form method="post" action="/changeStatusNo">\
                                <input type="hidden" name="id" value="' + (feature.properties['full_id'] !== null ? autolinker.link(feature.properties['full_id'].toLocaleString()) : '') + '">\
                                <button type="submit">No</button>\
                            </form>\
                <table>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['full_id'] !== null ? autolinker.link(feature.properties['full_id'].toLocaleString()) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['osm_id'] !== null ? autolinker.link(feature.properties['osm_id'].toLocaleString()) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['addr:street'] !== null ? autolinker.link(feature.properties['addr:street'].toLocaleString()) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['addr:housenumber'] !== null ? autolinker.link(feature.properties['addr:housenumber'].toLocaleString()) : '') + '</td>\
                    </tr>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['addr:city'] !== null ? autolinker.link(feature.properties['addr:city'].toLocaleString()) : '') + '</td>\
                    </tr>\
                    \<tr>\
                        <td colspan="2">' + (feature.properties['status'] !== null ? autolinker.link(feature.properties['status'].toLocaleString()) : '') + '</td>\
                    </tr>\
                </table>';
        layer.bindPopup(popupContent, {maxHeight: 400});
    }

    function style_building_1_0(feature) {
        switch (String(feature.properties['status'])) {
            case 'yes':
                return {
                    pane: 'pane_building_1',
                    opacity: 1,
                    color: 'rgba(35,35,35,1.0)',
                    dashArray: '',
                    lineCap: 'butt',
                    lineJoin: 'miter',
                    weight: 1.0,
                    fill: true,
                    fillOpacity: 1,
                    fillColor: 'rgba(16,237,42,1.0)',
                    interactive: true,
                }
                break;
            case 'no':
                return {
                    pane: 'pane_building_1',
                    opacity: 1,
                    color: 'rgba(35,35,35,1.0)',
                    dashArray: '',
                    lineCap: 'butt',
                    lineJoin: 'miter',
                    weight: 1.0,
                    fill: true,
                    fillOpacity: 1,
                    fillColor: 'rgba(235,0,4,1.0)',
                    interactive: true,
                }
                break;
        }
    }

    mymap.createPane('pane_building_1');
    mymap.getPane('pane_building_1').style.zIndex = 401;
    mymap.getPane('pane_building_1').style['mix-blend-mode'] = 'normal';

    var layer_building_1 = new L.geoJson(json_building_1, {
        attribution: '',
        interactive: true,
        dataVar: 'json_building_1',
        layerName: 'layer_building_1',
        pane: 'pane_building_1',
        onEachFeature: pop_building_1,
        style: style_building_1_0,
    });
    bounds_group.addLayer(layer_building_1);
    mymap.addLayer(layer_building_1);

    function pop__2(feature, layer) {
        var popupContent = '<table>\
                    <tr>\
                        <td colspan="2">' + (feature.properties['full_id'] !== null ? autolinker.link(feature.properties['full_id'].toLocaleString()) : '') + '</td>\
                    </tr>\
                </table>';
        layer.bindPopup(popupContent, {maxHeight: 400});
    }

    function style__2_0() {
        return {
            pane: 'pane__2',
            opacity: 1,
            color: 'rgba(235,0,4,1.0)',
            dashArray: '',
            lineCap: 'square',
            lineJoin: 'bevel',
            weight: 3.0,
            fillOpacity: 0,
            interactive: true,
        }
    }

    mymap.createPane('pane__2');
    mymap.getPane('pane__2').style.zIndex = 402;
    mymap.getPane('pane__2').style['mix-blend-mode'] = 'normal';
    var layer__2 = new L.geoJson(json__2, {
        attribution: '',
        interactive: true,
        dataVar: 'json__2',
        layerName: 'layer__2',
        pane: 'pane__2',
        onEachFeature: pop__2,
        style: style__2_0,
    });
    bounds_group.addLayer(layer__2);
    mymap.addLayer(layer__2);

    var baseMaps = {};
    L.control.layers(baseMaps, {
        '<img th:src="building_1.png" /> building': layer_building_1,
        "OSM Standard": layer_OSMStandard_0,
    }).addTo(mymap);
    setBounds();
</script>
</body>
</html>